<div class="new-post-block">
    <h2 id="editor-title">Veröffentlichen</h2>
    <form id="post-form">
        <ul class="title-author">
            <li class="single-element-form">
                <h1 class="title-form">Titel:</h1>
                <input type="text" value="" placeholder="Title" id="title"/>
            </li>
            <li class="single-element-form">
                <h1 class="title-form">Autor:</h1>
                <input type="text" value="" placeholder="Autor" id="author" disabled>
            </li>
        </ul>

        <h1 class="title-form">Inhalt:</h1>
        <textarea class="content-field" placeholder="Content" id="content"></textarea>
        <br>
        <button type="button" id="create-new-post-request-button">Veröffentlichen</button>
    </form>
</div>

<footer>
    <p class="footer-text">&copy; Aries - Leidenschaft fürs Nachdenken</p>
</footer>