
<nav id="navigation">
    <div id="logo"><img src="images/logo.png" alt="logo" width="200px" height="200px"></div>
    <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/posts/create" class="single-menu-element-link">
                    Veröffentlichen
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">
                    Logout
                </a>
            </li>
        </ul>
 </nav>
<main class="main-content" id="#main-form">
    
</main>