<header class="blog-title">
    login
</header>

<div class="user-login-block">
    <form>
        <h1 class="form-title">Benutzername:</h1>
        <input type="text" value="" placeholder="" id="username"/>
        <h1 class="form-title">Passwort:</h1>
        <input type="password" value="" placeholder="" id="password">
        <br>
        <button type="button" id="login-request-button">Login</button>
    </form>
    <a href="#/register">Anmelden</a>
</div>

<footer>
    <p class="footer-text">&copy; Aries - Leidenschaft fürs Nachdenken</p>
</footer>