<header class="blog-title">
    Anmelden
</header>

<div class="user-login-block">
    <form class="user-register">
        <h1 class="form-title">Benutzername:</h1>
        <input type="text" value="" placeholder="" id="username" />
        <h1 class="form-title">Namen:</h1>
        <input type="text" value="" placeholder="" id="full-name" />
        <h1 class="form-title">Passwort:</h1>
        <input type="password" value="" placeholder="" id="password" />
        <h1 class="form-title">Passwort wiederholen:</h1>
        <input type="password" value="" placeholder="" id="pass-confirm" />
        <br>

        <button type="button" id="register-request-button">Anmelden</button>
    </form>
    <a href="#/login">Login hier</a>
</div>

<footer>
    <p class="footer-text">&copy; Aries - Leidenschaft fürs Nachdenken</p>
</footer>