
<nav id="navigation">
    <div id="logo"><img src="images/logo.png" alt="logo" width="200px" height="200px"></div>
    <ul>
        <li class="single-menu-element">
            <a href="#/" class="single-menu-element-link">
                Home
            </a>
        </li>
        <li class="single-menu-element">
            <a href="#/posts/create" class="single-menu-element-link">
                veröffentlichen
            </a>
        </li>

        <li class="single-menu-element">
            <a href="#/logout" class="single-menu-element-link">
                Logout
            </a>
        </li>
    </ul>
</nav>
<aside class="sidebar">
    <h2 class="recent-posts-title">Letzt veröffentlicht</h2>
    <hr>
    <ul class="recent-posts">
    </ul>
</aside>
<main class="main-content">
    <header class="blog-title">
        <h3>HOME</h3>
    </header>
    <ul class="articles" id="article">
    </ul>
    <footer>
        <p class="footer-text">&copy; Aries - Leidenschaft fürs Nachdenken</p>
    </footer>
</main>
